/* social living */

/*  */
:root {
  /* featurerd */
  --clr-sl1: #707070;
  --clr-sl2: #efefef;
  /* hover */
  --clr-sl3: #1792d2;
  /* background */
  --clr-sl4: #143774;
  /* header bg */
  --clr-sl5: #f8f8f8;
  /* title */
  --clr-sl5: #143774;

  /*  */
  --clr-neutral-100: hsla(0, 0%, 100%, 1);
  --clr-primary-800: hsla(229, 47%, 17%, 1);
  --clr-primary-700: hsla(229, 43%, 20%, 1);
  --clr-primary-400: hsla(230, 50%, 58%, 0.3);
  --clr-primary-300: hsla(229, 36%, 39%, 1);
  --clr-primary-200: hsla(229, 21%, 53%, 1);
  --clr-accent-400: hsla(147, 93%, 43%, 1);
  --clr-secondary-400: hsla(229, 78%, 60%, 1);

  --ff-base: "Outfit", sans-serif;

  --fw-regular: 300;
  --fw-semi-bold: 400;
  --fw-bold: 700;

  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-700: 2rem;
}

.accent-second {
  color: var(--clr-secondary-400);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;

  /* background-color: var(--clr-primary-700);
  color: var(--clr-neutral-100); */
  font-family: var(--ff-base);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
  line-height: 1.5;
}

nav {
  height: 100%;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

p {
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

h2 {
  margin-top: 0;
}

.container {
  width: 90%;
  height: 100vh;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 10em 1fr;
  align-items: center;
}

/* icon */
.icon {
  height: 60px;
  aspect-ratio: 1;
  color: var(--clr-neutral-100);
  transition: all 0.3s;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}
.nav-icon {
  height: 60px;
  aspect-ratio: 1;
  color: var(--clr-neutral-100);
  transition: all 0.3s;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

.nav-icon:hover,
.current-page {
  fill: #707070;
}

.small {
  height: 30px;
  width: 30px;
}

/* end of icon */

/* icons list */
.icons-list {
  height: 100%;
  border-left: 1px solid var(--clr-primary-300);
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5em;
}
.icons-list > li {
  position: relative;
  padding-left: 2em;
}
.icons-list > li::after {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  width: 0.25em;
  aspect-ratio: 1;
  transform: translateX(-50%);
  outline: 0.35em solid var(--clr-primary-400);
  border-radius: 50%;
  background: var(--clr-neutral-100);
}
/* end of icon list */

/* texts */

.page-title {
  font-size: var(--fs-700);
  text-transform: uppercase;
  margin: 0;
  line-height: 1;
}
/* end of texts */

/* .content {
  border-radius: 0.5rem;
  padding: 2rem;
  background: var(--clr-primary-800);
} */
.accent {
  color: var(--clr-accent-400);
  font-weight: var(--fw-bold);
  letter-spacing: 0.2em;
}

/* BUTTON */

.styled-button {
  background-color: #1792d2;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.styled-button:hover {
  background-color: #143774;
}

/* PROJECTS */

/* .cards-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid green;
} */
/* .card-item {
  text-align: center;
  height: 30%;
  border: 1px solid red;
  border-radius: 11px;
} */
/* .card {
  margin: 10px 0;
} */
/*  */
.project-icons-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

/* .project-icons-list li {
  margin: 0;
  padding: 0;
} */

/* end of PROJECTS */

.buttons {
  display: flex;
  gap: 20px;
}
/* test run */

/* .content {
  border: 1px solid yellow;
} */

body {
  /* background-color: white;
  color: #707070; */
}

.card {
  text-align: center;

  /* border-radius: 11px; */
}

/* 320 x 180 */
.card-image {
  width: 12rem;
  height: 12rem;
  padding: 1em;
  background-position: center;
  background-size: contain;
  color: red;
  border-radius: 11px;
  /* overflow: hidden; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.budgetBuddy {
  background-image: url("assets/images/budget.png");
}
.cinemate {
  background-image: url("assets/images/cinemate.png");
}
.vanVoyage {
  background-image: url("assets/images/vanVoyage.png");
}

.card-image:hover {
  cursor: pointer;
}

.card-btn {
  padding: 0.3em 1.5em;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 1px;
  /* background-color: #4688fa; */
}

section {
  padding: 2em;
  background-color: #f8f8f8;
  border-radius: 11px;
}

.cards-container {
  border-radius: 11px;
  background-color: #a1a1a1;
  color: #efefef;
  padding: 2em;

  display: flex;
  justify-content: space-evenly;
}
.home-container {
  border-radius: 11px;
  background-color: #a1a1a1;
  color: #efefef;
  padding: 1em;
}

body {
  background-color: #143774;
}

h5 {
  margin-bottom: 0;
}

.title {
  color: #1792d2;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  /* margin-bottom: 20px; */
  margin-top: 0;
}
.color {
  color: #143774;
  font-weight: var(--fw-bold);
}

.buttons {
  margin-top: 20px;
}

/* 
  --clr-sl1: #707070;
  --clr-sl2: #efefef;
  --clr-sl3: #1792d2;
  --clr-sl4: #143774;
  --clr-sl5: #f8f8f8;
*/
.skills-container {
  border-radius: 11px;
  background-color: #a1a1a1;
  color: #efefef;
  padding: 1em;
  /* width: fit-content; */
}

section {
  /* width: fit-content; */
}
/* SKILLS */
.skills-list {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  width: fit-content;
  /* justify-content: center; */
}
.skills-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* end of SKILLS */

.icon:hover {
  scale: 1.2;
}
